* {
    transition: .3s;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    padding: 10vh;
    gap: 3em;
}

.hero h1 {
    font-size: 80px;
    font-family: "Clash Grotesk";
}

.hero p {
    text-align: center;
    width: 100%;
    color: #ce9fff !important;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 2em;
}

div#countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#timer span:not(.unit) {
    font-size: 120px;
    font-family: "Clash Grotesk";
    font-weight: bold;
}

div#countdown-container>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff03;
    padding: .5em 1em;
    width: 10em;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 1px solid #fff4;
    cursor: default;
    user-select: none;
}

section.hero {
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.unit {
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Satoshi';
    letter-spacing: .03em;
    color: #fff7;
}

section#events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10em;
    padding: 3em 0;
    background: linear-gradient(0, transparent, #120025aa 30% 70%, transparent);
}

#tech-events, #nontech-events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

#events .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
}

#events .event {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 322px;
    backdrop-filter: blur(10px);
    background: #ffffff03;
    border: 1px solid #fff3;
    border-radius: 25px;
    padding: 1em 1.5em;
    gap: 1em;
    aspect-ratio: 1/1;
}

.event .title {
    font-size: 1.4em;
    display: flex;
    border-bottom: 2px solid #fff7;
    justify-content: space-between;
}

#events h2 {
    font-size: 3em;
    font-family: "Clash Grotesk";
}
#register_now a {
    border: 1px solid #fff3;
    background: #fff1;
    padding: 1em;
    width: 15em;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    color: #ffe66c;
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: .3s;
    box-shadow: 0 0 0px #fff0;
}

div#register_now {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
}

#register_now a::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: #ffe66c;
    z-index: -1;
    filter: blur(20px);
    bottom: -70%;
    left: 0;
    transition: .3s;
}

#register_now a::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: #f86cff;
    z-index: -1;
    filter: blur(20px);
    bottom: 90%;
    right: 0;
    transition: .5s;
}
#register_now a:hover::before {
    width: 100%;
}
#register_now a:hover::after {
    width: 100%;
}

#register_now a:hover {
    scale: 1.05;
}

.events-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
}

.title {
    padding: .5em 0;
}

.event-details {
    padding: .5em 0;
}

button.learn-more {
    position: relative;
    border: 1px solid #fff2;
    background: #fff0;
    color: #f0fa;
    font-size: 18px;
    outline: none;
    padding: .5em 2em;
    border-radius: 25px;
    justify-self: flex-end;
    cursor: pointer;
    transition: .3s;
}

button.learn-more:hover {
    border: 1px solid #fff4;
    background: #fff1;
    color: #f0f;
}

div#register_now a[href^="#"] {
    background: #fff0;
    border: 0px;
    padding: 0;
    color: #fff7;
    backdrop-filter: none;
    
    
    &::before,&::after {
        display: none;
    }
    &:hover {
        scale: 1;
        color: #fff;
    }
}

@media only screen and (min-width: 1200px) {
    .hero h1 {
        font-size: 7em;
    }
}

@media only screen and (max-width: 900px) {
    body {
        font-size: 14px;
    }
    #timer span:not(.unit) {
        font-size: 80px;
    }
    div#countdown-container>div {
        width: 9em;
    }
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    #nav a.link:nth-child(1), #nav a.link:nth-child(2), #nav a.link:nth-child(5) {
        display: none;
    }
    .hero h1 {
        font-size: 4em;
    }
    #timer span:not(.unit) {
        font-size: 50px;
    }
    #timer .unit {
        font-size: 12px;
    }
    div#countdown-container>div {
        width: 6em;
    }
    #events h2 {
        font-size: 2.5em;
    }
}

#events .event {
    width: fit-content;
    max-width: 300px;
    aspect-ratio: auto;
    justify-content: stretch;
    transition: 1s;
}

#events:has( .active) .event:not(:has(.active)) {
    opacity: .3 !important;
    scale: .9;
}

#events .events-wrapper {
    align-items: stretch;
    justify-content: center;
    transition: 1s;
}

#events .title {
    border: none;
    transition: .3s;
    cursor: pointer;
    & .icon {
        opacity: .4;
        transform: rotate(180deg);
    }
    transition: 1s;
}
#events .title:hover .icon {
    opacity: 1;
    scale: 1.2;
}

#events .event-details {
    height: 0px;
    transition: 1s;
}

#events .event-content:not(.active) .event-details {
    opacity: 0;
    overflow: hidden;
} 

#events .event:has( .event-content.active) {
    max-width: 1200px;
    width: 90%;
    border-color: #ffeb8c85;
    & .title {
        border-bottom: 1px solid #fff4;
        margin-bottom: .5em;
        & .icon {
            transform: rotate(0deg);
        }
    }
    & .event-details {
        height: fit-content;
    }
}