{% extends "base.html" %}
{% block title %}Payment{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <style>
        div#root {
    padding: 5em 0em;
}

#root h3 {
    font-size: 2em;
}


.form-group {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
        .payment-options {
            margin-bottom: 20px;
        }
        .option-container {
            margin-top: 15px;
        }
        .online-payment {
            display: block;
        }

        .form-group:has( input[type="submit"]) {
    align-items: center;
}

input[type="submit"] {
    display: flex;
    font-size: 18px;
    padding: .5em 2em;
    border-radius: 25px;
    outline: none;
    border: 1px solid #fff7;
    background: #fff1;
    color: #ffe66c;
    cursor: pointer;
}
    </style>
{% endblock %}
{% block content %}

    <div id="online-container" class="option-container online-payment">
        <div class="qrcode">
            <img src="{{ url_for('static', filename='payment_qr.png') }}" alt="GPay Qr Code Image.">
        </div>
        <form action="{{ url_for('payment_post') }}" method="post" id="online-form">
            <div class="form-group">
                <h3>Enter Transaction Details for {{ student.email }}</h3>
                <div class="desc">
                    <strong>Note:</strong>
                    <ul>
                        <li>ONLY WORKSHOP - Rs. 200</li>
                        <li>ONLY EVENT - Rs. 300</li>
                        <li>BOTH WORKSHOP AND EVENT - Rs. 500</li>
                    </ul>
                    <p>You will be able to attend only one workshop, because all the workshops are conducted on 27th Feb at the same time.</p>
                    <p>You can attend any number of events for just Rs. 200 on 28th Feb.</p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="transaction_id">Transaction ID:</label>
                <input type="text" id="transaction_id" name="transaction_id" minlength="12" maxlength="12" pattern="[0-9]{12}" required>
            </div>
            
            <div class="form-group">
                <label for="upi_id">UPI ID:</label>
                <input type="text" id="upi_id" name="upi_id" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit Transaction">
            </div>
        </form>
    </div>
{% endblock %}