{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="content">
        <h2>Register Now!</h2>
        <div class="desc">Register your details and then proceed to payment. You will be asked to pay email immediately upon registeration. <span>You can also register onsite. For that no need to register here.</span></div>
        <div class="desc note">
            <strong>Note:</strong>
            <ul>
                <li>ONLY WORKSHOP - Rs. 300</li>
                <li>ONLY EVENT - Rs. 200</li>
                <li>BOTH WORKSHOP AND EVENT - Rs. 500</li>
            </ul>
            <p>You will be able to attend only one workshop, because all the workshops are conducted on 27th Feb at the same time.</p>
            <p>You can attend any number of events for just Rs. 200 on 28th Feb.</p>
        </div>
    </div>
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        
        <div class="form-group">
            <label for="workshops">Workshop:</label>
            <select id="workshops" name="workshop">        
                <option value="none">None</option>
                {% for workshop in workshops %}
                <option value="{{ workshop.event_name }}">{{ workshop.event_name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            {%  for event in events %}
                <label>
                    <input type="checkbox" name="events" value="{{ event }}">
                    {{ event }}
                </label>
            {% endfor %}
        </div>
        
        <div class="form-group">
            <label for="college_name">College Name:</label>
            <input type="text" id="college_name" name="college_name" required>
        </div>
        
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
{% endblock %}