{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}
{% block content %}
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone" required>
        </div>
        
        <div class="form-group">
            <label for="rollno">Roll Number:</label>
            <input type="text" id="rollno" name="rollno" required>
        </div>
        
        <div class="form-group">
            <label for="workshops">Workshop:</label>
            <select id="workshops" name="workshop">        
                {% for workshop in workshops %}
                <option value="{{ workshop }}">{{ workshop }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <input type="checkbox" name="events" id="events" value="Participate in Events">
        </div>
        
        <div class="form-group">
            <label for="college_name">College Name:</label>
            <input type="text" id="college_name" name="college_name" required>
        </div>

        <button type="submit">Submit</button>
    </form>
{% endblock %}